.navigation {
    &__checkbox {
        display: none;
    }

    &__button {
        background-color: $color-white;
        height: 7rem;
        width: 7rem;
        position: fixed;
        border-radius: 50%;
        z-index: 2000;
        box-shadow: 0 1rem 3rem rgba($color-black, .5);

        // because width&height are 1rem bigger
        // than background
        top: 6rem;
        right: 6rem;

        // for icon
        text-align: center;
        cursor: pointer;

    }

    &__background {
        height: 6rem;
        width: 6rem;
        border-radius: 50%;
        position: fixed;
        top: 6.5rem;
        right: 6.5rem;
        background-image: radial-gradient($color-primary-light, $color-primary-dark);
        z-index: 1000;
        transform: scale(0);
        // https://easings.net/
        transition: transform .8s cubic-bezier(0.86, 0, 0.07, 1);
    }

    // ~ is general selector since they are not direct sibling
    &__checkbox:checked~&__background {
        transform: scale(80);
    }

    &__nav {
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1500;

        // completely hide navigation
        // since user has not pushed the button
        opacity: 0;
        width: 0;
        // https://cubic-bezier.com/#.17,.67,.83,.67
        transition: all .8s cubic-bezier(.5, .06, .11, 1.43);
    }

    &__checkbox:checked~&__nav {
        width: 100%;
        opacity: 1;
    }

    &__list {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        list-style: none;
        text-align: center;
    }

    &__item {
        margin: 1rem;
    }

    &__link {

        &:link,
        &:visited {
            // for translateX when active works
            display: inline-block;

            font-size: 3rem;
            font-weight: 300;
            padding: 1rem 2rem;
            color: $color-white;
            text-decoration: none;
            text-transform: uppercase;
            background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-white 50%);
            background-size: 230%;
            transition: all .4s;

            span {
                margin-right: 1.5rem;
                display: inline-block;
            }
        }

        &:hover,
        &:active {
            background-position: 100%;
            color: $color-primary;
            transform: translateX(1rem);
        }
    }

    // icon
    &__icon {
        position: relative;
        margin-top: 3.5rem;

        &,
        &::before,
        &::after {
            width: 3rem;
            height: 2px;
            background-color: $color-grey-dark-3;
            display: inline-block;
        }

        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 0;
            transition: all .2s;
        }

        &::before {
            top: -.8rem;
        }

        &::after {
            top: .8rem;
        }
    }

    // icon is child of button so write this way instead of putting & or ~
    &__button:hover &__icon::before {
        top: -1rem;
    }

    &__button:hover &__icon::after {
        top: 1rem;
    }

    &__checkbox:checked+&__button &__icon {
        // if you change width and height
        // it will affect before and after
        // so instead do this way
        background-color: transparent;
    }

    &__checkbox:checked+&__button &__icon::before {
        top: 0rem;
        // 180-45 to make this look even cooler
        transform: rotate(135deg);
    }

    &__checkbox:checked+&__button &__icon::after {
        top: 0rem;
        transform: rotate(-135deg);
    }
}